extends layout

block content
  h1= title
  p I'm an intelligent to make others in work #{title}
  button(type="button", class="btn btn-outline-danger", onclick="doReduce()") PressMe

  div(id = "reduce") Reduce the value
  a(href="Umbrella") LINK
  script.
      count = 20
      change  = -1
      function doReduce(){
          count += change;
          change -= 1;
          document.getElementById('reduce').innerHTML = `Count ${count} Change ${change}`;
      }