extends layout

block content
 h1= title
 form(id='umbrellaForm' action="/resource/umbrella" method="POST")
  div.form-group
      label.umbrellaAttr(for='Umbrella_color') umbrella Name
      input#Umbrella_color(type='text' name='Umbrella_color')
  div.form-group
      label.umbrellaAttr(for='Umbrella_length') umbrella Type
      input#Umbrella_length(type='text' name='Umbrella_length')
  div.form-group
      label.umbrellaAttr(for='Umbrella_cost') umbrella Cost
      input#cost(type='number' name='Umbrella_cost')
      input(type="submit")
      script.
        document.forms['umbrellaForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Save succeded")
        window.location.href='/umbrella'
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
        alert("Save failed " + error )
        });
        });
